<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>
<body>
  <h1>Ejercicio</h1>
  <form action="/simulate" method="post">
    <div class="server-1">
      <label for="server1">Cantidad de Servidores Bloque 1(1-4)</label>
      <input type="number" name="server1" id="server1">
    </div>
    <div class="server-2">
      <label for="server2">Cantidad de Servidores Bloque 2(0-4)</label>
      <input type="number" name="server2" id="server2">
    </div>
    <button type="submit">Simular</button>
  </form>
</body>
</html>
